<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/quasar@2.12.5/dist/quasar.prod.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css" />

    <title>TabatApp</title>
  </head>

  <body>
    <main id="app">
      <q-btn
        flat
        round
        color="white"
        round
        icon="settings"
        class="absolute-top-right"
        @click="modal=true"
        :disabled="lastControl !== 'stop'"
      ></q-btn>

      <q-dialog v-model="modal">
        <q-card>
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Settings</div>
            <q-space></q-space>
            <q-btn icon="close" flat round dense v-close-popup></q-btn>
          </q-card-section>

          <q-card-section>
            <q-form @submit.prevent="saveSettings">
              <q-input
                filled
                type="number"
                v-model="ROUNDS"
                label="Rounds"
                lazy-rules="ondemand"
                :rules="[ val => val > 1 || 'Set value greater than 1']"
              ></q-input>

              <q-input
                filled
                type="number"
                v-model="WORK_TIME"
                label="Work time"
                lazy-rules="ondemand"
                :rules="[ val => val > 4 || 'Set value greater than 4']"
              ></q-input>

              <q-input
                filled
                type="number"
                v-model="RECOVER_TIME"
                label="Recover time"
                lazy-rules="ondemand"
                :rules="[ val => val > 4 || 'Set value greater than 4']"
              ></q-input>

              <q-file
                filled
                label="Work time sound"
                class="q-mb-lg"
                accept=".mp3"
                max-total-size="1048576"
                v-model="workTimeSoundInput"
              >
                <template v-slot:prepend>
                  <q-icon name="attach_file" />
                </template>
              </q-file>

              <q-file
                filled
                label="Recover time sound"
                class="q-mb-lg"
                accept=".mp3"
                max-total-size="1048576"
                v-model="recoverTimeSoundInput"
              >
                <template v-slot:prepend>
                  <q-icon name="attach_file" />
                </template>
              </q-file>

              <div>
                <q-btn label="Save" type="submit" color="primary"></q-btn>
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>

      <div class="container row content-center q-pa-sm q-gutter-y-md">
        <section id="timer" class="row flex-center col-12" v-cloak>
          <h2 class="timer q-my-none">
            {{minutes}}:{{seconds}}.{{milliseconds}}
          </h2>
        </section>

        <section id="sliders" class="row justify-evenly col-12">
          <div class="row col-3">
            <q-knob
              show-value
              class="col-12"
              v-model="rounds"
              size="70px"
              color="primary"
              track-color="grey-3"
              max="30"
              readonly="true"
            ></q-knob>
            <p class="text-subtitle2 text-center col-12">Rounds</p>
          </div>
          <div class="row col-3">
            <q-knob
              show-value
              class="col-12"
              v-model="workTime"
              size="70px"
              color="primary"
              track-color="grey-3"
              max="60"
              readonly="true"
            ></q-knob>
            <p class="text-subtitle2 text-center col-12">Work</p>
          </div>
          <div class="row col-3">
            <q-knob
              show-value
              class="col-12"
              v-model="recoverTime"
              size="70px"
              color="primary"
              track-color="grey-3"
              max="60"
              readonly="true"
            ></q-knob>
            <p class="text-subtitle2 text-center col-12">Recover</p>
          </div>
        </section>

        <section id="controls" class="row flex-center q-gutter-x-sm col-12">
          <q-btn
            push
            color="primary"
            round
            icon="pause"
            @click="handleClick('pause')"
            v-show="lastControl  === 'play'"
          ></q-btn>
          <q-btn
            push
            color="primary"
            round
            icon="play_arrow"
            @click="handleClick('play')"
            :disabled="!rounds"
            v-show="lastControl  !== 'play'"
          ></q-btn>
          <q-btn
            push
            color="primary"
            round
            icon="stop"
            :disabled="lastControl  === 'stop'"
            @click="handleClick('stop')"
          ></q-btn>
        </section>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.12.5/dist/quasar.umd.prod.js"></script>

    <script type="module" src="/assets/js/app.js"></script>
    <script type="module" src="/assets/js/wakelock.js"></script>
    <script>
      if ('serviceWorker' in navigator)
        navigator.serviceWorker.register('/sw.js');
    </script>
  </body>
</html>
